<key>NSLocationWhenInUseUsageDescription</key>
<string>We need your location to provide nearby branches.</string>
<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
<string>We need your location to provide nearby branches.</string>
<key>NSLocationAlwaysUsageDescription</key>
<string>We need your location to provide nearby branches.</string>
